.intro__inner{
    display: flex;
    justify-content: space-between;
}
.intro__title {
    width: 33%;

    span {
        background-color: #ff3344;
        font-size: 14px;
        padding: 4px 30px 2px;
        color: #fff;
        border-radius: 40px;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
    }

    h3 {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    
    p {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 500;
    }
}
.intro__desc {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        width: 48%;
        margin-bottom: 40px;

        h4 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        &:nth-child(3){
            margin-bottom: 0;
        }

        &:nth-child(4){
            margin-bottom: 0;
        }
    }
}

.intro__cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .intro__box {
        display: flex;
        width: 50%;
        margin-right: 10px;
    
        img {
           width: 300px;
           height: 250px;
        }
    
        .box__text {
            margin-left: 30px;
            
            h2 {
                font-size: 40px;
            }
    
            span {
                font-weight: bold;
                font-size: 24px;
            }
    
            p {
                line-height: 1.5;
                font-size: 20px;
            }
            a {
                display: block;
                text-align: center;
                margin-top: 10px;
                padding: 10px 20px;
                background-color: #000;
                color: #fff;
            }
        }
    }
}