.movies__wrap {
    overflow: hidden;
    margin-bottom: 100px;
}
.movies__inner {
    height: 570px;

    h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }

    p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 60px;
    }

    a {
        @include B-radius(15px);
    }

    .movies__item {
        @include flex-between;
        margin-top: 70px;
        position: absolute;

        > div {
            width: 400px;
            margin-right: 20px;

            img {
                width: 100%;
                @include B-radius(25px);
            }
        }
    }
}

//movie Cont
.movie__cont {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: 'NanumSquareNeo';
    
        li {
            width: 24%;
            position: relative;
            margin-bottom: 2%;

            .title {
                font-size: 20px;
                padding: 3px 0;
                display: inline-block;

                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                }
            }

            .star {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 30px;
                height: 30px;
                background-color: #fff;
                text-align: center;
                line-height: 30px;
                border-radius: 50%;
                font-size: 12px;
            }

            .not_poster{
                width: 100%;
                height: 88%;
            }
        }
    }
}

.movie__tag {
    // display: none
    div {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;

        button {
            background-color: #fff;
            border:1px solid #101010;
            padding: 10px 20px;
            margin: 0 10px;
            color: #101010;
            cursor: pointer;
            font-family: 'NanumSquareNeo';

            transition: all 0.5s;

            &:hover {
                background-color: #101010;
                color: #fff;
            }
        }
    }
}

//movie Search
.movie__search {
    margin-bottom: 50px;
    text-align: center;
    
    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        @include B-radius(15px);
        min-width: 300px;
        margin-right: 10px;
        font-family: 'NanumSquareNeo';
        border: 2px solid #101010;
    }
    
    button {
        @include button (#101010, #fff);
        @include B-radius (15px);
        font-family: 'NanumSquareNeo';
    }
}

.movie__slider {
    margin-bottom: 40px;
}


