.youtube__wrap {
    overflow: hidden;
}
.youtube__inner {
    height: 570px;

    h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }

    p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 60px;
    }

    a {
        @include B-radius(15px);
    }

    .youtube__item {
        @include flex-between;
        margin-top: 70px;
        position: absolute;
        > div {
            width: 400px;
            margin-right: 20px;

            img {
                width: 100%;
                @include B-radius(25px);
            }
        }
    }
}

.youtube__cont {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: 'NanumSquareNeo';
    
        li {
            width: 24%;
            position: relative;
            margin-bottom: 2%;
        }
    }
}

.youtube__tag {
    // display: none
    div {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;

        button {
            background-color: #fff;
            border:1px solid #00c183;
            padding: 10px 20px;
            margin: 0 10px;
            color: #00c183;
            cursor: pointer;
            font-family: 'NanumSquareNeo';
            transition: all 0.5s;

            &:hover {
                background-color: #00c183;
                color: #fff;
            }
        }
    }
}


//youtube Search
.youtube__search {
    margin-bottom: 50px;
    text-align: center;
    
    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        @include B-radius(15px);
        min-width: 300px;
        margin-right: 10px;
        font-family: 'NanumSquareNeo';
        border: 1px solid #00c183
    }
    
    button {
        @include button (#00c183, #fff);
        @include B-radius (15px);
        font-family: 'NanumSquareNeo';
    }
}